<div #container class="my-container">
  <div class="search-group">
    <div *ngIf="isSearchMode" class="backBtn-container">
      <div class="backBtn-inner">
        <div class="backBtn" (click)="clickBackBtn()">
          <i class="fa-arrow-left fa-solid"></i>
        </div>
        <div class="back-dummy"></div>
      </div>
    </div>
    <div class="search-input">
      <input
        #search
        type="text"
        [(ngModel)]="searchTxt"
        (ngModelChange)="autoFill($event)"
        (focus)="changeSearchMode()"
        (keypress)="trySearch($event)"
      >
      <div class="my-placeholder" *ngIf="searchTxt===''" (click)="changeSearchMode()"><i class="fa-solid fa-magnifying-glass" style="margin-right: 5px;"></i>Search</div>
      <div class="clear" (click)="clearTxt()"><i class="fa-solid fa-xmark"></i></div>
    </div>
  </div>

  <div class="tags">
    <div *ngFor="let label of testTags;" class="tag">
      <app-tag
        [label]="label.label"
        [isActive]="label.isActive"
        (click)="activateTag(label.label)"
        (click)="filterPostByTag(label.label)"
      ></app-tag>
    </div>
  </div>
  <div *ngIf="isLoading" class="sklt-tags">
    <div *ngFor="let i of [1,2,3,4]" class="sklt-tag"></div>
  </div>

  <div [ngClass]="isLoading? 'sklt-grids' : ''" class="grids">
    <div class="grid" *ngFor="let treemap of displayTreemaps; let i=index;">
      <app-tree-map
        [posts]="treemap"
        [evenOrOdd]="i"
        (openPost)="openPost($event)"
      ></app-tree-map>
    </div>
  </div>

  <app-entire-loader-roller [isLoading]="isOpening"></app-entire-loader-roller>
  <div class="big-post" [ngClass]="isBigPost?'big-post-active':''">
    <div class="bp-back">
      <div class="bp-back-btn" (click)="backBigPost()"><i class="fa-solid fa-arrow-left"></i></div>
    </div>
    <!-- all settings in ts file, openPost function -->
    <app-share-big-posts
      *ngIf="isBigPost"
      [posts]="flatten2DArray(displayTreemaps)"
      [initialSlide]="flatten2DArray(displayTreemaps).indexOf(startBigPost)"
    ></app-share-big-posts>
  </div>

  <div *ngIf="!isLoading && !isFiltered" class="loader-wrapper">
    <app-loader-spiner></app-loader-spiner>
  </div>

  <div class="search-panel" *ngIf="isSearchMode">
    <app-search-panel
      [searchState]="searchState"
      [keyword]="searchTxt"
      (searchItem)="changeStateFromPanel($event)"
    ></app-search-panel>
  </div>
</div>
