<div class="my-container">
  <div class="search-group">
    <div *ngIf="isSearchMode" class="backBtn-container">
      <div class="backBtn" (click)="clickBackBtn()">
        <i class="fa-arrow-left fa-solid"></i>
      </div>
      <div class="back-dummy"></div>
    </div>
    <div class="search-input">
      <input #search type="text" [(ngModel)]="searchTxt" (focus)="changeSearchMode()">
      <div class="my-placeholder" (click)="changeSearchMode()"><i class="fa-solid fa-magnifying-glass" style="margin-right: 5px;"></i>Search</div>
      <div class="clear" (click)="clearTxt()"><i class="fa-solid fa-xmark"></i></div>
    </div>
  </div>
  <div class="grid" *ngFor="let treemap of treemaps">
    <app-tree-map
      [posts]="treemap"
    ></app-tree-map>
  </div>
  <div class="search-panel" *ngIf="isSearchMode">
    <div class="history">
      <div class="his-tag">Hitory</div>
      <div class="clear-his"><i class="fa-solid fa-trash"></i></div>
      <div class="his-contents">
        <div class="his-cont">高領</div>
        <div class="his-cont">高領shirt</div>
      </div>
    </div>
  </div>
</div>
