<div class="my-container">
  <div class="back">
    <div class="icon"><i class="fa-solid fa-arrow-left" (click)="switchToLogin()"></i></div>
  </div>
  <div class="content">
    <div class="title">Create an account</div>
    <form class="info-form" [formGroup]="registerForm" (ngSubmit)="signup()">
      <div class="info-group">
        <div class="input-group">
          <div class="label">
            <i class="fa-solid fa-user"></i>Name
            <span class="error" *ngIf="name?.invalid && name?.touched">name is invalid</span>
          </div>
          <div class="input"><input formControlName="name" type="text" placeholder="nickname"></div>
        </div>
        <div class="input-group">
          <div class="label">
            <i class="fa-solid fa-envelope"></i>Email
            <span class="error" *ngIf="email?.invalid && email?.touched">email is invalid</span>
          </div>
          <div class="input"><input formControlName="email" type="email" placeholder="example@mail.com"></div>
        </div>
        <div class="input-group">
          <div class="label">
            <i class="fa-solid fa-venus-mars"></i>Gender
          </div>
          <div class="input">
            <a class="gender" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
              {{ gender }}
              <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="changeGender('Male')">Male</li>
                <li nz-menu-item (click)="changeGender('Female')">Female</li>
                <li nz-menu-item (click)="changeGender('Other')">Other</li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
        <div class="input-group">
          <div class="label">
            <i class="fa-solid fa-lock"></i>Password
            <span class="error" *ngIf="password?.invalid && password?.touched">password is invalid</span>
          </div>
          <div class="input">
            <input formControlName="password" [type]="isSeePassword ? 'text' : 'password'" placeholder="******">
            <div class="eye" (click)="seePassword()"><i nz-icon [nzType]="isSeePassword ? 'eye' : 'eye-invisible'" nzTheme="outline"></i></div>
          </div>
        </div>
      </div>

      <button type="submit" class="sign-up" [disabled]="registerForm.invalid">SIGN UP</button>
    </form>

    <div class="sign-in-block">
      Already have an account? <em style="font-weight: bolder; margin-left: 5px;" (click)="switchToLogin()">Sign in</em>
    </div>
  </div>
</div>
