.my-container
{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.my-container::after
{
  /* padding depends on the width not the height */
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cover
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tag
{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 0px 7px;
  color: #ffffff;
}

.tag > span
{
  display: block;
}

.rate
{
  position: absolute;
  background-color: #0098be;
  border-radius: 5px;
  padding: 2px 7px;
  font-size: 3.5vmin;
  top: 5px;
  left: 5px;
}
