<div class="my-container">
  <div class="content">
    <div class="cont-item back-wrapper">
      <div class="back" (click)="back()"><i class="fa-solid fa-arrow-left"></i></div>
    </div>
    <div class="cont-item price-wrapper">
      <div class="price">NT {{post.price}}</div>
      <div class="target-price">NT {{post.discount==0?post.price:post.price*post.discount | number: '.1-2' }} <i class="fa-solid fa-angle-right"></i></div>
    </div>
    <div class="cont-item name-wrapper">
      <div class="name">{{ post.name }}</div>
    </div>
    <div class="cont-item info-wrapper">
      <div class="info-item labels">
        <div *ngFor="let label of testLabels">{{label}}</div>
      </div>
      <div class="info-item datas">
        <div>{{post.stock}}</div>
        <div>{{post.labels[post.labels.length-1].display_name}}</div>
        <div>要修改欄位</div>
        <div>要修改欄位</div>
        <div>{{post.rating.rating_star | number: '1.1-1'}} / 5.0</div>
      </div>
    </div>
  </div>
  <div class="options">
    <div class="opt-item info-btn"><i class="fa-solid fa-circle-info"></i></div>
    <div class="opt-item comment-btn"><i class="fa-solid fa-comment"></i></div>
    <div class="opt-item share-btn"><i class="fa-solid fa-share-from-square"></i></div>
    <div class="opt-item cart-btn"><i class="fa-solid fa-cart-shopping"></i></div>
  </div>
</div>
