.my-container
{
  height: 100%;
  overflow: hidden;
}

.header
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  justify-content: flex-end;
  padding: 5px 15px;
  position: relative;
  z-index: 6;
}
.header-skeleton
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  justify-content: flex-end;
  padding: 5px 15px;
  position: relative;
  z-index: 7;
}

.header-opt
{
  color: #0098be;
  font-size: 7vmin;
  margin: 0 10px;
}
.hs
{
  background-color: #dedede;
  height: 50%;
  width: 15%;
  border-radius: 15px;
  margin: 0 15px;
}

.card-content
{
  position: absolute;
  right: 10px;
  left: 10px;
  top: 10%;
  bottom: calc( 8vh + 20px );
}

.swipe-out-right
{
  transition: all 1s;
  left: 500px !important;
  transform: rotateZ(30deg) !important;
  opacity: 0 !important;
}

.swipe-out-left
{
  transition: all 1s;
  left: -500px !important;
  transform: rotateZ(-30deg) !important;
  opacity: 0 !important;
}

.history
{
  position: absolute;
  background-color: #fbfbfb;
  top: 0;
  right: 0;
  bottom: 8vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  /* overflow-y: scroll; */
}

.his-block
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 95%;
  height: 80%;
  border-radius: 20px;
}

.his-header
{
  display: flex;
  height: 13%;
  width: 100%;
  font-size: 2rem;
  border-bottom: 1px solid #f2f2f2;
}

.his-option
{
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

.his-like
{
  color: #e5bb27;
}

.like-active
{
  border-bottom: 2px solid #e5bb27;
}

.his-dislike
{
  color: #33b9cf;
}

.dislike-active
{
  border-bottom: 2px solid #33b9cf;
}

.his-content
{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 10px 0;
}

.his-item
{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  height: 15%;
}

.his-pic
{
  flex: 2;
  border-radius: 10px;
  background-color: #0098be;
  position: relative;
}

.his-pic > img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  border-radius: 50%;
}

.his-pic::after
{
  content: '';
  display: block;
  padding-top: 100%;
}

.his-name
{
  flex: 8;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #4fb0cd;
  padding-left: 15px;
}

.his-time
{
  flex: 2;
}
