<div class="my-container">
  <div class="header">
    <div class="header-opt history-btn" (click)="showHistory()"><i class="fa-solid fa-clock-rotate-left"></i></div>
    <div class="header-opt notification"><i class="fa-solid fa-bell"></i></div>
    <div class="add"></div>
  </div>
  <div class="card-content">
      <div *ngFor="let post of cardsInfo">
        <app-tinder-card
          [post]="post"
        ></app-tinder-card>
      </div>
  </div>

  <div
      class="history"
      *ngIf="isHistoryOpen"
    >
      <div class="his-block">
        <div class="his-header">
          <div [ngClass]="dislikeHis?'dislike-active':''" class="his-option his-dislike" (click)="changeHistoryMode('dislike')"><i class="fa-solid fa-xmark"></i></div>
          <div [ngClass]="likeHis?'like-active':''" class="his-option his-like" (click)="changeHistoryMode('like')"><i class="fa-solid fa-heart"></i></div>
        </div>
        <div class="his-content">
          <div *ngFor="let item of hisList" class="his-item">
            {{ item.name }}
          </div>
        </div>
      </div>
  </div>
</div>
