.mycard
{
  background-color: #ffffff;

  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  /* background-image: url('../../../../assets/images/coat.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swipe-out-right
{
  transition: all 1s;
  left: 500px !important;
  transform: rotateZ(30deg) !important;
  opacity: 0 !important;
}

.swipe-out-left
{
  transition: all 1s;
  left: -500px !important;
  transform: rotateZ(-30deg) !important;
  opacity: 0 !important;
}

.reset
{
  transition: all .5s;
  left: 0 !important;
  top: 0 !important;
  opacity: 1 !important;
  transform: rotateZ(0deg) !important;
}

.mask
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, 75%, black 100%);
  border-radius: 10px;
  z-index: 3;
}

.info-group
{
  width: 100%;
  height: 10%;
}

.action-group
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 14%;
  z-index: 6;
  position: relative;
}

.action
{
  font-size: 7vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  flex: 1;
}

.btn-wrapper
{
  padding: 4vmin;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dislike>.btn-wrapper
{
  border: 2.5px solid #ff0000;
}

.dislike-svg
{
  background-image: url('../../../../assets/images/dislike.svg');
  filter: invert(9%) sepia(100%) saturate(5487%) hue-rotate(356deg) brightness(91%) contrast(102%);
  background-repeat: no-repeat;
  background-size: contain;
  width:  7vmin;
  height: 7vmin;
}

.like
{
  color: #e5bb27;
}

.like>.btn-wrapper
{
  border: 2.5px solid #e5bb27;
}

.super-like
{
  color: #0098be;
}

.super-like-btn
{
  /*可以改用img 才不會跑版*/
  position: absolute;
  background-image: url('../../../../assets/images/super-like-button.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 150%;
  bottom: calc(100% - 1px);
  left: 0;
  right: 0;
  filter: invert(38%) sepia(96%) saturate(760%) hue-rotate(154deg) brightness(98%) contrast(101%);
}

.super-like-status
{
  width: 100%;
  height: 8%;
  background-color: #00c2ff;
  z-index: 5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.status-item
{
  flex: 1;
}

.swiper
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.post-img
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.carousel
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
}

.card-img
{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

::ng-deep .ant-carousel .slick-dots
{
  margin: 0;
  padding: 0 15px;
  width: 100%;
}

::ng-deep .ant-carousel .slick-dots-top
{
  top: 15px !important;
}

::ng-deep .ant-carousel .slick-dots li
{
  flex: 1 !important;
}

::ng-deep .ant-carousel .slick-dots li button
{
  color: #c9c8c8;
  border-radius: 20px;
  height: 5px;
}

::ng-deep .ant-carousel .slick-dots li.slick-active button
{
  color: #ffffff;
}

.card-prev
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8%;
}

.card-next
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 8%;
}
