<div
  #card
  class="mycard"
  [style.left.px]="x"
  [style.top.px]="y"
  [style.transform]="'rotateZ('+rotateDeg+'deg)'"
  [style.opacity]="opacityPercent"
  [ngClass]="{'swipe-out-right': isOutRight, 'swipe-out-left': isOutLeft, 'reset': isReset}"
  [@cardAnimator]="animationState"
  (@cardAnimator.done)="resetAnimationState()"
  *ngIf="!isDelete"
  (pan)="handleDrag($event)">
    <div class="carousel">
      <nz-carousel #carousel [nzEnableSwipe]="false" style="border-radius: 10px;" [nzDotPosition]="'top'">
        <div nz-carousel-content *ngFor="let img of post.images">
          <div class="mask"></div>
          <div class="card-img" [ngStyle]="{'background-image': 'url('+imgBaseURL+img+')'}"></div>
        </div>
      </nz-carousel>
    </div>
    <div class="card-prev" (click)="prevImg()"></div>
    <div class="card-next" (click)="nextImg()"></div>

    <div class="info-group">
      <div class="name">{{ post.name }}</div>
      <div class="info"></div>
    </div>
    <div class="action-group">
      <div class="action dislike" (click)="clickAction('dislike')">
        <div class="btn-wrapper">
          <div class="dislike-svg"></div>
        </div>
      </div>
      <div class="action super-like" (click)="clickAction('superlike')">
        <div><i class="fa-regular fa-star"></i></div>
      </div>
      <div class="action like" (click)="clickAction('like')">
        <div class="btn-wrapper"><i class="fa-solid fa-heart"></i></div>
      </div>
    </div>
    <div class="super-like-status">
      <div class="super-like-btn"></div>
      <div class="status-item my-progress-bar">
        <nz-progress
          [nzPercent]="80"
          [nzShowInfo]="false"
          nzStatus="active"
          [nzStrokeColor]="'#b1e5f2'"
        >
        </nz-progress>
        <div class="percentage">80%</div>
      </div>
      <div class="status-item progress-percentage">10%</div>
      <div class="status-item left-time">03:10</div>
    </div>
</div>
<div *ngIf="isLoading" class="card-skeleton"></div>
