<div
  #card
  class="mycard"
  [style.left.px]="x"
  [style.top.px]="y"
  [style.transform]="'rotateZ('+rotateDeg+'deg)'"
  [style.opacity]="opacityPercent"
  [ngClass]="{'swipe-out-right': isOutRight, 'swipe-out-left': isOutLeft, 'reset': isReset}"
  [@cardAnimator]="animationState"
  (@cardAnimator.done)="resetAnimationState()"
  *ngIf="!isDelete"
>
  <div class="card-detecter" (pan)="handleDrag($event)"></div>
  <div class="carousel">
    <nz-carousel #carousel [nzEnableSwipe]="false" style="border-radius: 10px;" [nzDotPosition]="'top'">
      <div nz-carousel-content *ngFor="let img of post.images">
        <div class="mask"></div>
        <div appImgload (imageLoaded)="imgLoaded()" class="card-img" [ngStyle]="{'background-image': 'url('+imgBaseURL+img+')'}"></div>
      </div>
    </nz-carousel>
  </div>
  <div class="card-prev" (pan)="handleDrag($event)" (click)="prevImg()"></div>
  <div class="card-next" (pan)="handleDrag($event)" (click)="nextImg()"></div>

  <div *ngIf="!(superIsDragging || isSuperLikeSpanded)" class="info-group" (pan)="handleDrag($event)">
    <div appMoreContent [text]=" post.name" class="name"></div>
    <div class="info" (click)="openInfo()"></div>
  </div>

  <div [ngClass]="superIsDragging || isSuperLikeSpanded?'action-group-spanded action-group':'action-group'">
    <div class="action dislike" (pan)="handleDrag($event)">
      <div [ngClass]="{'dislike-spanded': superIsDragging || isSuperLikeSpanded}" class="btn-wrapper" (click)="clickAction('dislike')">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="action super-like" (click)="clickAction('superlike')">
      <div [ngClass]="{'super-like-spanded': superIsDragging || isSuperLikeSpanded}" class="btn-wrapper">
        <i class="fa-regular fa-star"></i>
        <div class="remain-num"><div class="remain-num-inner">5</div></div>
      </div>
    </div>
    <div class="action like" (pan)="handleDrag($event)">
      <div [ngClass]="{'like-spanded': superIsDragging || isSuperLikeSpanded}" class="btn-wrapper" (click)="clickAction('like')">
        <i class="fa-solid fa-heart"></i>
      </div>
    </div>
  </div>
  <div #superDetecter [style.bottom]="superDetecterBottom" class="super-drag-detecter" (pan)="handleDragSuperLike($event)"></div>
  <div
    #status
    [style.height]="statusHeight"
    class="super-like-status"
    (pan)="handleDrag($event)"
  >
    <div class="super-like-btn"></div>
    <div *ngIf="!superIsDragging && !isSuperLikeSpanded" class="status-wrapper">
      <div class="status-item my-progress-bar">
        <nz-progress
          [nzPercent]="80"
          [nzShowInfo]="false"
          [nzStrokeColor]="'#b1e5f2'"
        >
        </nz-progress>
        <div class="percentage">80%</div>
      </div>
      <div class="status-item progress-percentage">10%</div>
      <div class="status-item left-time">03:10</div>
    </div>
    <div *ngIf="superIsDragging || isSuperLikeSpanded" class="super-like-dragged-info">
      <div class="spanded-header">
        <div class="spanded-name">{{ post.name }}</div>
      </div>
      <div class="spanded-content">
        <div class="spanded-item target">
          <div class="spanded-icon-title"><img class="spanded-icon" src="assets/images/target.svg">Target</div>
          <div class="spanded-text">10% discount</div>
        </div>
        <div class="spanded-item completeness">
          <div class="spanded-icon-title"><img class="spanded-icon" src="assets/images/completeness.svg">Completeness</div>
          <div class="spanded-text">8/10</div>
        </div>
        <div class="spanded-item time-left">
          <div class="spanded-icon-title"><img class="spanded-icon" src="assets/images/time-left.svg">Time eft</div>
          <div class="spanded-text">03:10</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="card-skeleton"></div>
<app-product-info
  *ngIf="isInfoOpened"
  [post]="post"
  (closeInfo)="closeInfo($event)"
></app-product-info>
