.mycard
{
  background-color: #ffffff;

  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 20px;


  background-image: url('../../../../assets/images/purse.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swipe-out-right
{
  transition: all 1s;
  left: 500px !important;
  transform: rotateZ(30deg) !important;
  opacity: 0 !important;
}

.swipe-out-left
{
  transition: all 1s;
  left: -500px !important;
  transform: rotateZ(-30deg) !important;
  opacity: 0 !important;
}

.reset
{
  transition: all .5s;
  left: 0 !important;
  top: 0 !important;
  opacity: 1 !important;
  transform: rotateZ(0deg) !important;
}
