<div class="my-container">
  <div class="mask-top"></div>
  <div [ngClass]="{'mask-up': isMoreText}" class="mask-bottom"></div>
  <div class="option-group">
    <div class="option like">
      <i
        [ngStyle]="{'color': iconState['like']?'#f61313':'#ffffff'}"
        class="fa-solid fa-heart"
        (click)="changeMode('like')"
        (click)="likeAction()"
      ></i>
      <div class="num">{{ likeCount$ | async }}</div>
    </div>
    <div class="option comments">
      <i class="fa-solid fa-comment" (click)="changeMode('comment')"></i>
      <div class="num">{{ (getComment$ | async)?.length }}</div>
    </div>
    <div class="option shop">
      <i class="fa-solid fa-bag-shopping" (click)="changeMode('shop')"></i>
    </div>
  </div>

  <div class="prev" (click)="prevImg()"></div>
  <div class="next" (click)="nextImg()"></div>
  <div class="carousel">
    <nz-carousel #carousel [nzEnableSwipe]="false" [nzDotPosition]="'top'">
      <div nz-carousel-content *ngFor="let img of post.images">
        <div appImgload (imageLoaded)="imgLoaded()" class="pic"
          [ngStyle]="{
            'background-image': 'url('+imgBase+img+')'
          }"
        ></div>
      </div>
    </nz-carousel>
  </div>

  <div class="info-group">
    <div class="user-info" *ngIf="(shop$|async) as shop">
      <div class="user-pic"
        [ngStyle]="{
          'background-image': 'url('+imgBase+shop.profilePic+')'
        }"
      ></div>
      <div class="user-name">{{ shop.shopAccount }}</div>
    </div>
    <div class="description-wrapper">
      <div class="prod-name">{{ post.name }}</div>
      <div
        appMoreContent
        class="description"
        [text]="post.content"
        (moreText)="moreText($event)"
      >
        {{ post.content.substring(0,20) }}
      </div>
    </div>

    <div class="tags">
      <div *ngFor="let label of post.labels" class="tag">
        #{{ label.display_name }}
      </div>
    </div>
    <div class="time">
      {{ post.createdAt.substring(0, 10) }}
    </div>
  </div>

  <div
    class="action-panel"
    *ngIf="iconState['comment'] || iconState['shop']"
    [ngStyle]="{
      'height': iconState['comment'] ? '70%' : iconState['shop'] ? '50%' : ''
    }"
  >
    <app-action-panel
      [actionType]="iconState['comment']?'comment':iconState['shop']?'shop':''"
      (close)="closeActionPanel($event)"
    ></app-action-panel>
  </div>
</div>
<div *ngIf="!isImgLoaded" class="skeleton">
  <div class="sk-info">
    <div class="sk-item">
      <div class="sk-pic"></div>
      <div class="sk-line sk-fir-line"></div>
      <div class="sk-line sk-sec-line"></div>
      <div class="sk-line sk-thi-line"></div>
    </div>
  </div>
</div>
