@import "~swiper/swiper-bundle.css";

.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: calc(8vh - 1px);
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header
{
  display: flex;
  width: 100%;
  align-items: center;
  height: 10%;
  padding: 5px 15px;
}

.name
{
  color: #ffffff;
  font-size: 6.5vmin;
}

.func-group
{
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 7vmin;
}

.func-item
{
  margin: 0 10px;
}

.add-post
{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: calc(8vh + 20px);
  right: 20px;
  z-index: 10;
  color: #0098be;
  font-size: 7vmin;
  border: 3px solid #0098be;
  border-radius: 50%;
  height: 11vmin;
  width: 11vmin;
  padding: 25px;
}

.content
{
  flex: 1;
  width: 100%;
  margin-top: 10%;
}

.main-cont
{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  padding: 0 10px;
}

.cont-pic
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  border: 3px solid #ffffff;
  min-width: 90px;
  min-height: 90px;
  width: 15vmin;
  height: 15vmin;
  transform: translateY(-40%);
}

.info-group
{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 3.5vmin;
  margin: 10px max(calc(90px + 30px + 10px), calc(15vmin + 30px + 10px));
}

.info-item
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  position: relative;
}

.following::after,
.follower::after
{
  content: '';
  position: absolute;
  border: 0.5px solid #0098be;
  right: -15px;
  top: 5px;
  bottom: 5px;
  border-radius: 20px;
}

.num
{
  color: #0098be;
}

.text
{
  color: #7da6b1;
}

.description
{
  color: #0098be;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 3.5vmin;
}

.posts
{
  margin: 0 2vw;
  min-height: 60vh;
}

.post
{
  padding: 10px;
}

.swiper {
  width: 100%;
  padding-bottom: 45px;
}

::ng-deep .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
{
  bottom: 15px;
}

.spand-settings
{
  left: 0 !important;
  right: 0 !important;
}

.settings-wrapper
{
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: calc(8vh - 1px);
  left: 100%;
  width: 100%;
  transition: left .5s;
}

.settings-area
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  z-index: 10;
}

.active-option-content
{
  left: 0 !important;
  right: 0 !important;
}

.option-content
{
  position: absolute;
  top: 0;
  bottom: calc(8vh - 1px);
  left: 100%;
  width: 100%;
  z-index: 11;
  transition: left .5s;
}
