<div class="my-container">
  <div class="header">
    <div class="name">CERIOUS PANG</div>
    <div class="func-group">
      <div class="func-item add-post"><i class="fa-solid fa-plus"></i></div>
      <div class="func-item settings"><i class="fa-solid fa-bars"></i></div>
    </div>
  </div>
  <div class="content">
    <div class="main-cont">
      <div class="cont-pic"></div>
      <div class="info-group">
        <div class="info-item following">
          <div class="num">1,073</div>
          <div class="text">Following</div>
        </div>
        <div class="info-item follower">
          <div class="num">30</div>
          <div class="text">Followers</div>
        </div>
        <div class="info-item posts-tag">
          <div class="num">4</div>
          <div class="text">Posts</div>
        </div>
      </div>
      <div appMoreContent [text]="testText" class="description"></div>
      <swiper
        [pagination]="true"
      >
        <ng-template
          *ngFor="let i of [1,2]"
          swiperSlide
        >
          <div class="posts g-1 row">
            <div *ngFor="let i of [0,1,2,3]" class="post col-6">
              <app-share-share-post
                [coverImg]="'assets/images/post'+i%4+'.png'"
              ></app-share-share-post>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
  <div class="my-cart">
    <i class="fa-solid fa-cart-shopping"></i>
  </div>
</div>
