<div class="my-container">
  <div class="content">
    <h4>與好友分享</h4>
    <ng-container *ngFor="let orderItem of orderItems">
      <div class="container">
        <div class="pic-Container">
          <img [src]="orderItem.images[0]" [alt]="orderItem.name">
        </div>
        <div class="display-content">
          <p>{{orderItem.name}}</p>
          <p>購買日期: {{orderItem.createdAt}}</p>
          <div class="buttnArea">
            <p>NT {{orderItem.price}}</p>
            <button class="shareBtn" (click)="changeOption('post-form', orderItem)">share</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

