/* You can add global styles to this file, and also import other style files */
p
{
  color: white;
}

/* rem rwd font */
:root
{
  font-size: 15px;
}

@media(min-width: 576px)
{
  :root
  {
    font-size: 20px;
  }
}
